.container-navbar{
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 400px;
}
.wrapper-navbar{
    width: 90%;
    height: 90%;
    display: flex;
}
.left-navbar{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}
.menu-mobile{
    display: none;
}
.right-navbar{
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
}
.left-right-navbar{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
.left-right-navbar .Link{
    font-size: 16px;
    font-weight:900;
    text-decoration: none;
    color: black;
}
.right-right-navbar{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-right-navbar Button {
    background-color: #004A73;
    color: white;
    text-transform: none;
    font-weight: bold;
    font-size: 20px;
}
.right-right-navbar Button:hover{
    background-color: #126a9a;
}
.right-right-navbar Button:active{
    background-color: #004A73;
}
.menu-mobile-dropdown .Link h3{
    color: black;
    text-decoration: none;
}
.menu-mobile-dropdown hr{
    background-color: #D9D9D9;
    width: 80%;
}
.menu-mobile-dropdown{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 206px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
    background-color: #ffffff;
}

@media screen and (max-width:1080px){
    .container-navbar{
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .wrapper-navbar{
        width: 90%;
        height: 90%;
        display: flex;
    }
    .left-navbar{
        width: 50%;
        height: 100%;
        gap: 5%;
        display: flex;
        align-items: center;
    }
    .menu-mobile{
        display:flex;
    }
    .right-navbar{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .left-right-navbar{
        width: 90%;
        height: 100%;
        display: none;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
    }
    .left-right-navbar .Link{
        font-size: 16px;
        font-weight:900;
        text-decoration: none;
    }
    .right-right-navbar{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 20px;
    }
    .right-right-navbar Button {
        background-color: #004A73;
        color: white;
        text-transform: none;
        font-weight: bold;
        font-size: 16px;
    }
    .menu-mobile-dropdown .Link{
        text-decoration: none;
        font-size: 14px;
        color: black;
    }
    .menu-mobile-dropdown hr{
        width: 80%;
    }
    .menu-mobile-dropdown{
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        height: 206px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5%;
        background-color: #ffffff;
    }
    .hamburger-menu{
        color: #004A73;
    }
}
@media screen and (max-width:600px){
    .container-navbar{
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .wrapper-navbar{
        width: 90%;
        height: 90%;
        display: flex;
    }
    .left-navbar{
        width: 50%;
        height: 100%;
        gap: 5%;
        display: flex;
        align-items: center;
    }
    .menu-mobile{
        display:flex;
    }
    .right-navbar{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .left-right-navbar{
        width: 90%;
        height: 100%;
        display: none;
        align-items: center;
        justify-content: flex-end;
        gap: 0px;
    }
    .left-right-navbar .Link{
        font-size: 10px;
        font-weight:900;
        text-decoration: none;
    }
    .right-right-navbar{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 20px;
    }
    .right-right-navbar Button {
        background-color: #004A73;
        color: white;
        text-transform: none;
        font-weight: bold;
        font-size: 12px;
    }
    .menu-mobile-dropdown .Link h3{
        text-decoration: none;
        font-size: 12px;
    }
    .menu-mobile-dropdown hr{
        width: 80%;
    }
    .menu-mobile-dropdown{
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: 206px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5%;
    }
    .hamburger-menu{
        color: #004A73;
    }
}