.container-events{
    width: 100%;
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    min-width: 400px;
}
.wrapper-events{
    width: 90%;
    height: 90%;
}
.header-events{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-events{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3%;
}
.wrapper-content-events{
    width: fit-content;
    height: 100%;
    display: flex;
    gap: 2%;
    justify-content: flex-start;
    align-items: flex-start;
}
@media screen and (max-width:1080px) {
    .container-events {
        width: 100%;
        height: 560px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F5F5F5;
    }
    
    .wrapper-events {
        width: 90%;
        height: 90%;
    }
    
    .header-events {
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .content-events {
        width: 100%; /* Lebar diatur ke 100% agar konten dapat melebar sesuai dengan konten di dalamnya */
        height: 100%; /* Tinggi diatur ke 100% untuk memastikan konten memiliki tinggi yang sesuai */
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow-x: auto; /* Overflow-x diatur ke auto untuk mengaktifkan scroll horizontal jika konten melebihi lebar */
        overflow-y: hidden; /* Overflow-y diatur ke hidden untuk menyembunyikan scroll vertikal */
    }
    
    .wrapper-content-events {
        display: flex;
        gap: 20px; /* Jarak antara setiap item diatur di sini */
    }
    
}
