.container-button-categories{
    display: inline-block;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    height: 28px;
}
.container-button-categories:hover{
    display: inline-block;
    padding: 10px;
    background-color: #F7941D;
    border: 0px solid black;
    border-radius: 5px;
}
.container-button-categories span{
    color: black;
    font-size: 16px;
    font-weight: 700;
}
.container-button-categories span:hover{
    color: white;
    font-size: 16px;
    font-weight: 700;
}

@media screen and (max-width:1080px) {
    .container-button-categories{
        display: inline-block;
        padding: 5px;
        background-color: rgb(255, 255, 255);
        border: 1px solid black;
        border-radius: 5px;
        cursor: pointer;
    }
    .container-button-categories:hover{
        display: inline-block;
        padding: 5px;
        background-color: #F7941D;
        border: 0px solid black;
        border-radius: 5px;
    }
    .container-button-categories span{
        color: black;
        font-size: 12px;
        font-weight: 700;
    }
    .container-button-categories span:hover{
        color: white;
        font-size: 12px;
        font-weight: 700;
    }
}
@media screen and (max-width:760px) {
    .container-button-categories {
        display: inline-block;
        padding: 3px;
        background-color: rgb(255, 255, 255);
        border: 1px solid black;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .container-button-categories:hover{
        display: inline-block;
        padding: 3px;
        background-color: #F7941D;
        border: 0px solid black;
        border-radius: 5px;
    }
    .container-button-categories span{
        color: black;
        font-size: 12px;
        font-weight: 700;
        white-space: nowrap;
    }
    .container-button-categories span:hover{
        color: white;
        font-size: 12px;
        font-weight: 700;
    }
}